<body>
  <header id="showcase" class="grid">
      <div class="bg-image"></div>
      <div class="content-wrap">
          <img border="0" alt="SATE" src="./assets/SATE_LOGO.png" width="45%" height="45%" />
          <p><strong>{{chatbot}}</strong></p>
          <input [(ngModel)]="food" placeholder={{placeholder}} id="first_name" type="text" maxlength="100" class="validate" (keyup.enter)="chat()">
          <div><mat-slider [disabled]="disabled"
            [invert]="invert"
            [max]="max"
            [min]="min"
            [step]="step"
            [thumb-label]="thumbLabel"
            [tick-interval]="tickInterval"
            [(ngModel)]="radius"
            [vertical]="vertical"></mat-slider></div>
          <p>Within {{radius}} km</p>
          <a href="#showcase" class="waves-effect waves-light btn orange darken-2" (click)="chat()">Search</a>
      </div>
      
  </header>
  
  <div *ngIf="listAvailable" id="section-a">
    <agm-map [latitude]="lat" [longitude]="lng" [zoom]="14">
        <agm-marker *ngFor="let n of list" [latitude]="n.lat" [longitude]="n.lng">
          <agm-info-window>
            <strong>{{n.name}}</strong>
            <div>{{n.location}}</div>
            <div>Distance: {{n.distance}} m</div>
            <div>Rating: {{n.rating}}/5</div>
            <div>{{n.open}}</div>
          </agm-info-window>
        </agm-marker>
    </agm-map>
    <table class="bordered grey darken-3">
      <thead style="background:#FF8300">
        <tr>
            <th>Name</th>
            <th>Location</th>
            <th style="cursor: pointer;" (click)="sortRestaurants('distance')">Distance⇅</th>
            <th style="cursor: pointer;" (click)="sortRestaurants('rating')">Rating⇅</th>
            <th style="cursor: pointer;" (click)="sortRestaurants('open')">Open/Close⇅</th>
        </tr>
      </thead>
  
      <tbody>
        <tr *ngFor="let n of list" style="color:#fff">
          <td (click)="searchGoogle(n.name)" style="cursor: pointer;">{{n.name}}</td>
          <td (click)="launchMapUrl(n.location)" style="cursor: pointer;">{{n.location}}</td>
          <td>{{n.distance}} m</td>
          <td>{{n.rating}}/5</td>
          <td>{{n.open}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  </body>