<body>
  <!-- Header Showcase -->
  <header id="showcase" class="grid">
      <div class="bg-image"></div>
      <div class="content-wrap">
          <h1>Sate</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates dolore delectus quia iure possimus laborum expedita
              ex inventore ea aliquid.</p>
          <input [(ngModel)]="food" placeholder="Placeholder" id="first_name" type="text" class="validate">
          <a href="#showcase" class="waves-effect waves-light btn orange" (click)="searchFood()">Search</a>
      </div>
  </header>
  <div *ngIf="listAvailable">
    <table id="section-a" class="bordered highlight ">
      <thead>
        <tr>
            <th>Name</th>
            <th>Location</th>
            <th>Distance</th>
            <th>Rating</th>
        </tr>
      </thead>
  
      <tbody>
        <tr *ngFor="let n of list">
          <td>{{n.name}}</td>
          <td>{{n.location}}</td>
          <td>{{n.distance}}</td>
          <td>{{n.rating}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <footer id="main-footer" class="grid">
      <div>Sate</div>
      <div>Project By H&M</div>
  </footer>
  
  </body>